﻿@model IEnumerable<Csharp_6_Group_Exam_9_Ubaydullaev_Gairatbek.Models.AdvertisementModel>

@{
    ViewData["Title"] = "myAdvertisements";
}

<h1>myAdvertisements</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            @if (item.Image != null && item.Image.Length > 0)
            {
                <td><img style="width: 100px; height: 70px" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" /></td>

            }
            else
            {
                <td>
                    нет фото
                </td>
            }
        </tr>
        <tr>
            <td colspan="2">
                @foreach (var galleryImage in item.Images)
                {
                    if (galleryImage.Image != null && galleryImage.Image.Length > 0)
                    {
                        <img style="width: 150px; height: 100px" src="data:image/jpeg;base64,@(Convert.ToBase64String(galleryImage.Image))" />
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
